body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}

.divRow {
    display:table-row;
    padding:10px;
}

.divRow div {
    display: table-cell;
    padding: 10px;
}

.editor-label{color:#3c3c3c}
.editor-label:after{content: ":"}
.editor-field input {
    width: 195px;
}
.editor-field select{width:200px;}
.editor-field-gender select {width: 100px;}
/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.8em 0 1.8em;
    margin: 0 0 1.5em 0;
    background: #cacff6;
    display: inline-block;
    border-radius:3px;
}

legend {
    margin: 1.5em 0 0 0;
    font-size: 1.2em;
    font-weight: bold;
    border:1px solid #ddd;
    color:#102062;
}

textarea {
    min-height: 75px;
}




/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.ajaxLoader {
    display: none;
    background: url(imgBlue/ajax-loader.gif);
    width: 128px;
    height: 15px;
}