body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}

.divRow {
    display:table-row;
    padding:10px;
}

.divRow div {
    display: table-cell;
    padding: 3px;
}

.editor-label{color:#3c3c3c}
.editor-label:after{content: ":"}
.editor-field input {
    width: 195px;
}
.editor-field select{width:200px;}
.editor-field-gender select {width: 100px;}
/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 1.8em;
    margin: 0 0 1.5em 0;
    background: #cacff6;
    display: inline-block;
    border-radius:10px;
}

legend {
    margin: 1.5em 0 0 0;
    font-size: 1.2em;
    font-weight: bold;
    color:#102062;
}

textarea {
    min-height: 75px;
}




/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.ajaxLoader {
    display: none;
    background: url(imgBlue/ajax-loader.gif);
    width: 128px;
    height: 15px;
}

.logout {
    height: 34px;
    width: 34px;
    display: block;
    background: url(imgBlue/logout.png);
    background-repeat: no-repeat;
}

.logout:hover {
    height: 34px;
    width: 34px;
    display: block;
    background: url(imgBlue/logout.png);
    background-repeat: no-repeat;
    background-position: -44px 0;
}

.Back {
    height: 34px;
    width: 34px;
    display: block;
    background: url(imgBlue/back.png);
    background-repeat: no-repeat;
}

.Back:hover {
    height: 34px;
    width: 34px;
    display: block;
    background: url(imgBlue/back.png);
    background-repeat: no-repeat;
    background-position: -34px 0;
}

.en_us {
    height: 32px;
    width: 32px;
    display: block;
    background: url(en_US.png);
    background-repeat: no-repeat;
}

.en_us:hover {
    height: 32px;
    width: 32px;
    display: block;
    background: url(en_US.png);
    background-repeat: no-repeat;
    background-position: -34px 0;
}

.es_mx {
    height: 32px;
    width: 32px;
    display: block;
    background: url(es_MX.png);
    background-repeat: no-repeat;
}

.es_mx:hover {
    height: 32px;
    width: 32px;
    display: block;
    background: url(es_MX.png);
    background-repeat: no-repeat;
    background-position: -34px 0;
}

.linkButton:link, .linkButton:visited {
    background-color: #2196f3;
    color: white;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width:250px;
}


.linkButton:hover, .linkButton:active {
    background-color: #76b9ee;
}

input[type="submit"] {
    background-color: #1476ed;
    color: white;
    padding: 10px 15px;
    margin: 4px 0;
    border: none;
    cursor: pointer;
    width: 270px;
}

input[type="submit"]:hover {
    opacity: 0.8;
}

.menuimg {
    background-image: url(imgBlue/menu.png);
    background-size:40px;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

.menuToolbar{cursor:pointer;}
.menuToolbar:hover{background-color:#5d6bb9;color:#e4e7fc;}